.subscribe {
    &__container {
        text-align: center;
        margin-bottom: 60px;
    }
    &__title {
        font-size: 40px;
    }
    &__subtitle {
        font-size: 20px;
        color: #6d6d6d;
        // padding-bottom: 80px;
    }
    &__btn {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
    }}