.style {
    &__title {
        font-size: 50px;
    }

}
.item {
    max-width: 1440px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    &__block--1 {
      grid-column: 1;
      grid-row: 1;
    } 
  

}