.footer {
    &__container {
        margin: auto;
        background-color: #f8f8f8;
    }
    &__social--svg {
        padding-top: 30px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    
    &__menu {
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 20px;
    }
    &__img {
        text-align: center;
    }
    
}
.menu {
   
    &__list {
        cursor: pointer;
        list-style-type: none;
        padding-left: 15px;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 15px;
    }
    &__item {
        color: $black;
        font-size: 12px;
    }
    &__info {
        display: none;
    }

}
.social {
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        padding-bottom: 66px;
        padding-top: 30px;
    }
    &__radio {
        display: none;
        fill: $black;
        &:checked + .social__label {
            background-color: $black;
        

        &:checked, .social__icon {
            fill: $white;
        }}
    }
    &__label {
        border: 1px solid $gray;
        background-color: $white;
        width: 38px;
        height: 38px;
        border-radius: 100%;
        transition: all .2s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    &__icon {
        width: 16px;
        height: 16px;
        fill: #000;

    }}
    .copyright {
        &__text {
            font-size: 14px;
            color: #868686;
            text-align: center;
        }
        &__main {

        }
       
        &__list {
            padding: 0;
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
            list-style-type: none;

        }
        &__link {
            color: $black;
           font-size: 9px;

        }
    }
